body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    max-width: 100%;
    margin:  auto;
    height: auto;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 8px rgba(124, 118, 118, 0.952);
    font-weight: bold;
    max-width: 80%;
    line-height: 1.5;
}

.text-overlay h1 {
    margin: 0;
    padding: 0;
}
